<p id="notice"><%= notice %></p>

<h1>Listing Service Definitions</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Service code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_definitions.each do |service_definition| %>
      <tr>
        <td><%= service_definition.service_id %></td>
        <td><%= service_definition.service_code %></td>
        <td><%= link_to 'Show', service_definition %></td>
        <td><%= link_to 'Edit', edit_service_definition_path(service_definition) %></td>
        <td><%= link_to 'Destroy', service_definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service definition', new_service_definition_path %>
